.principal {
    padding: 2em;
}

.card {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid var(--azul-principal);
    margin-bottom: 2em;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.card:hover {
    border: 2px solid var(--amarelo-principal);
}

.card img {
    width: inherit;
    height: inherit;
    background-color: white;
}

.card__conteudo {
    margin: 1em;
}

.conteudo__titulo {
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--amarelo-principal);
    font-size: 18px;
    text-align: center;
    padding: 0 0 .3em 0;
    margin: 0 4em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--azul-principal);
}

.conteudo__lista {
   text-align: center;
}

.lista__item {
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
    color: var(--azul-principal);
    margin-bottom: .5em;
}

.conteudo__botao {
    display: flex;
    justify-content: center;
    background-color: var(--azul-principal);
    color: #fff;
    margin: 1em 4em;
    border-radius: 10px;
    text-decoration: none;
    padding: 1em;
    font-family: var(--fonte-principal);
    font-weight: 700;
    transition: .4s;
}

.conteudo__botao:hover {
    background: var(--amarelo-principal);
    color: var(--azul-principal);
}

.principal__titulo {
    font-weight: 700;
    font-family: var(--fonte-principal);
    font-size: 18px;
    color: var(--azul-principal);
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.img__desk {
    display: none;
}
@media screen and (min-width: 1024px) {
    .cards {
        display: flex;
    }

    .card {
        margin: 1em;
    }

    .img__mobile {
        display: none;
    }

    .img__desk {
        display: block;
    }


}
